/* 
COLOR PALETTE:
Background:
  #f5f7fa
Border:
  #e5e9ec
White: 
  #fff
Font: 
  #424242
Buttons:
  rgba(255, 69, 23, 1) Orange
  rgba(79, 56, 255, 1) Blue
*/

.Lobby {
  box-sizing: border-box;
  flex-direction: row;
  overflow: auto;
  display: flex;
  width: 100%;
  height: 95%;

  background: #fff;
  box-shadow: 0 1px 8px 0 rgba(0, 17, 25, 0.27);
}

.lobby-main-left {
  box-sizing: border-box;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  margin: 10px;
  /* flex-grow: 1; */
}

.lobby-main-left-top {
  box-sizing: border-box;
  display: flex;
  height: 40%;
  min-height: 40%;
  width: 100%;
  flex-direction: column;
}

.team-title {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2em;
  color: black;
}

.team-title > div {
  width: 50%;
  padding: 5px;
}
.team-render {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.lobby-child-team {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.lobby-player {
  box-sizing: border-box;
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  height: stretch;
  max-height: 30px;
  align-items: center;
  color: white;
  border-radius: 16px;
}

.player-avatar {
  background: rgb(197, 197, 197);
  height: 20px;
  width: 25px;
  border-radius: 50%;
}

.player-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.player-name {
  margin: 0px 5px;
  padding: 0px 5px;
}
.empty {
  color: #d1d1d1;
  cursor: pointer;
  background: #f5f7fa;
  box-shadow: inset 1px 0px 10px -5px rgba(0, 0, 0, 0.7),
    inset -1px 0px 10px -5px rgba(0, 0, 0, 0.7);
  justify-content: center;
  border-radius: 16px;
}

.lobby-remove {
  width: 10%;
  cursor: pointer;
  padding: 0px 5px;
  justify-self: flex-end;
}

.lobby-main-left-bot {
  z-index: 1;
  height: 60%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  background-color: #f5f7fa;
  box-shadow: inset 1px 1px 10px 0px rgba(0, 0, 0, 0.2);
}

.lobby-main-right {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 10px;
}

.lobby-main-right-top {
  box-sizing: border-box;
  /* background: #f5f7fa; */
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
  height: 40%;
}

.lobby-map {
  box-sizing: border-box;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  height: 100%;
  width: 100%;
}

.lobby-main-right-mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  box-sizing: border-box;
  margin-top: 10px;
  height: 50%;
}

.lobby-gameinfo-title {
  color: white;
  font-size: 1.6em;
}
.lobby-gameinfo {
  background: #f5f7fa;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  box-sizing: border-box;
  padding: 15px;
  text-align: left;
  color: black;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.lobby-setting {
  align-items: center;
  box-sizing: border-box;
  display: inline-block;
  height: 50px;
  margin: 15px;
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
  break-inside: avoid; /* IE 10+ */
}

/* .setting-name {
} */

.setting-info {
  display: flex;
  flex-direction: column;
}

.setting-name > span {
  color: rgb(131, 131, 131);
}
.setting-info > span {
  text-decoration: none;
  color: black;
}

.lobby-main-right-bot {
  box-sizing: border-box;
  padding: 5px 0px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: flex-end;
}

.lobby-buttons {
  display: flex;
  width: 100%;
  height: 100%;
}

.lobby-btn-jointeam {
  margin: 10px;
  width: 250px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  margin-top: auto;
}

.tabrow {
  box-sizing: border-box;
  margin: 0px;
  text-align: left;
  list-style: none;
  padding: 0;
  line-height: 24px;
  height: 10%;
  overflow: hidden;
  font-size: 12px;
  font-family: verdana;
  position: relative;
}
.tabrow li {
  cursor: pointer;
  height: 100%;
  border: 1px solid #f5f7fa;
  background: #d1d1d1;
  background: -o-linear-gradient(to bottom, #ececec 50%, #d1d1d1 100%);
  background: -ms-linear-gradient(to bottom, #ececec 50%, #d1d1d1 100%);
  background: -moz-linear-gradient(to bottom, #ececec 50%, #d1d1d1 100%);
  background: -webkit-linear-gradient(to bottom, #ececec 50%, #d1d1d1 100%);
  background: linear-gradient(to bottom, #ececec 50%, #d1d1d1 100%);
  display: inline-block;
  position: relative;
  z-index: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #f5f7fa;
  margin: 0 -2px;
  padding: 0 20px;
}
.tabrow a {
  color: #555;
  text-decoration: none;
}
.tabrow li.selected {
  /* f5f7fa */
  /* background: #fff; */
  background: linear-gradient(to bottom, #89a1fc 0%, #f5f7fa 60%);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #89a1fc;
  color: black;
  z-index: 2;
  border-bottom-color: #f5f7fa;
}
.tabrow:before {
  position: absolute;
  content: " ";
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #f5f7fa;
  z-index: 1;
}
.tabrow li:before,
.tabrow li:after {
  border: 1px solid #f5f7fa;
  position: absolute;
  bottom: -1px;
  width: 5px;
  height: 5px;
  content: " ";
}
.tabrow li:before {
  left: -6px;
  border-bottom-right-radius: 6px;
  border-width: 0 1px 1px 0;
  box-shadow: 2px 2px 0 #d1d1d1;
}
.tabrow li:after {
  right: -6px;
  border-bottom-left-radius: 6px;
  border-width: 0 0 1px 1px;
  box-shadow: -2px 2px 0 #d1d1d1;
}
.tabrow li.selected:before {
  box-shadow: 2px 2px 0 #f5f7fa;
}
.tabrow li.selected:after {
  box-shadow: -2px 2px 0 #f5f7fa;
}
