# ignore a single file


# ignore an entire directory
/.vscode
build/

# ignore a file type
.env
.eslintrc
.DS_Store

# add an exception (using !) to the preceding rule to track a specific file
!package.json

node_modules/
