# ignore a single file
database.js


# ignore an entire directory
node_modules/
.vscode/

# ignore a file type
.env
.eslintrc
.eslintrc.json

# add an exception (using !) to the preceding rule to track a specific file
!package.json